<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/app.css" type="text/css" />
    <title>Madlibs Form</title>
  </head>
  <body>
    <h1>Madlibs</h1>
    <form action="/story">
      {% for prompt in prompts %}
      <label for="{{prompt}}">{{prompt}}:</label>
      <input name="{{prompt}}" type="text" />
      {% endfor %}
      <button>Submit!</button>
    </form>
  </body>
</html>
